.popup__answer-text {
  margin: 0;
  padding: 25px 0;
  text-align: center;
  font-size: calc(var(--index))
}

@media screen and (max-width: 670px) {
  .popup__answer-text {
    font-size: calc(var(--index) * 1.2)
  }
}