.burger-menu__lines,
.burger-menu__lines::before,
.burger-menu__lines::after {
 position: absolute;
 width: 40px;
 height: 2px;
 top: 50%;
 left: 50%;
 background-color: var(--color-light);
 transform: translate(-50%, -50%);
 -webkit-transform: translate(-50%, -50%);
 -moz-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 -o-transform: translate(-50%, -50%);
 transition: all 1s;
 -webkit-transition: all 1s;
 -moz-transition: all 1s;
 -ms-transition: all 1s;
 -o-transition: all 1s;
}

.burger-menu__lines {
  width: 25px;

}

.burger-menu__lines::before,
.burger-menu__lines::after {
  content: "";
}

.burger-menu__lines::before {
  top: -12px
}

.burger-menu__lines::after {
  top: 14px;
}