.button {
  border: none;
  border-radius: 5px;
  background-color: transparent;
  width: calc(var(--index) * 11);
  height: 100px;
  font-size: calc(var(--index) * 1.5);
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .button {
    width: calc(var(--index) * 9);
    height: 70px;
  }
}

.button:first-child {
  margin-right: calc(var(--index));
}

.button:hover {
  /* opacity: 0.7; */
  cursor: pointer;
  background-color: var(--color-hover);
}
.button_type_positive {
  background-color: var(--color-positive);
  color: var(--color-text);
}
.button_type_negative {
  background-color: var(--color-negative);
  color: var(--color-text);
}
.button_type_next {
  width: 250px;
  height: calc(var(--index) * 3);
  background-color: var(--color-main);
  color: var(--color-text);
  font-size: calc(var(--index) * 1.1)
}