.form {
  display: flex;
  width: calc(var(--index)*20);
  max-width: 450px;
  padding-top: 25px;
  flex-direction: column;
  min-height: 300px;
  justify-content: space-between;
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form__item {
min-height: 21px;
}

.form__input {
  border: none;
  padding: 10px 0 10px;
  border-bottom: 1px solid var(--color-black-50);
  width: 100%;
  opacity: 1;
  background-color: var(--color-alternative);
}

.form__input::placeholder {
  color: var(--color-black-50);
}

.form__label {
  display: block;
  position: relative;
  color: var(--color-dark);
  min-height: 41px;
}

.form__label:last-of-type {
  margin-bottom: 18px;
}

.form__button-save {
  align-self: center;
  background-color: var(--color-main);
  color: var(--color-light);
  font-size: calc(var(--index));
  height: 75px;
}

.forme__label_type_checkbox {
  padding: 10px 0 10px 40px;
}

.form__input_type_checkbox + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("../images/icons/checkmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form__input_type_checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("../images/icons/checkmark-filled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
