.navigation__list {
  padding: 0;
  list-style: none;
}

.navigation__item {
  padding: 5px;
}

.navigation__link {
  text-decoration: none;
  color: var(--color-light);
  transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
}

.navigation__link:hover {
color: var(--color-hover);
}
