/* .navigation {

} */

.navigation__list {
  padding: 0;
  list-style: none;
  margin: 0;
}

.navigation__item {
  padding-bottom: 10px;
}

.navigation__link {
  text-decoration: none;
  color: var(--color-light);
  transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
}

.navigation__link:hover {
color: var(--color-hover);
}

.navigation__link_current {
  color: var(--color-dark);
  border-bottom: 2px solid var(--color-dark);
}