.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-black-50);
  visibility: hidden;
  opacity: 0;
  will-change: transition;
  transition: 0.1s all linear;
  overflow: hidden;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__content {
  box-sizing: border-box;
  max-width: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 25px var(--color-black-15);
  padding: 34px 36px 37px 36px;
}

.popup__content_type_success {
  background: var(--color-positive-second);
}

.popup__content_type_fail {
  background: var(--color-negative-second);
}

.popup__head-text {
  margin: 0px;
  font-size: calc(var(--index) * 1.6);
}

.popup__answer-text {
  max-width: 500px;
  margin: 0;
  padding: 25px 0;
  text-align: center;
  font-size: calc(var(--index));
}

@media screen and (max-width: 670px) {
  .popup__content {
    max-width: 282px;
    padding: 22px 22px;
  }

  .main__head-text {
    font-size: calc(var(--index) * 2);
  }

  .popup__answer-text {
    font-size: calc(var(--index) * 1.2);
  }
}

.popup__forms {
  width: 100%;
}

.popup_type_autorization {
  background-color: var(--color-black-50);
}

.popup__content_type_autorization {
  background-color: var(--color-alternative);
}

.popup__button-close {
  position: absolute;
  width: calc(var(--index)*1.5);
  height: calc(var(--index)*1.5);
  top: 0;
  right: 0;
  transform: translate(115%, -115%);
  border: none;
  -webkit-transform: translate(115%, -115%);
  -moz-transform: translate(115%, -115%);
  -ms-transform: translate(115%, -115%);
  -o-transform: translate(115%, -115%);

  background: url('../images/icons/icon-close.svg') center / cover no-repeat;
}

.popup__container-form {
  display: flex;
  justify-content: center;
}

/* .popup__forms {
  
} */

.popup__forms-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.popup__forms-item {
  padding: 0;
}

.popup__forms-link {
  display: block;
  width: 100%;
  color: var(--color-dark-20);
  text-align: center;
  padding: 20px 0 20px;
}

/* надо будет исправить */
.popup_type_start {
  opacity: 0.95;
  background: #000;
}
.start__button {
  background-color: #fff;
}

.popup_type_result {
  opacity: 0.95;
  background: #000;
}
