@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../vendor/variables.css);

@import url(./main.css);

@import url(./button.css);
@import url(./popup.css);
@import url(./burger-menu.css);
@import url(./navigation.css);
@import url(./profile.css);
@import url(./form.css);
@import url(./results.css);

.root {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: 'Inter', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  display: flex;
}

.section-profile {
  position: absolute;
  top: 0;
  right: 0;
  margin: 75px 35px 0;
}